<h1>Edit team</h1>
<%= form_for @team do |f| %>
  <% if @team.errors.any? %>
    <ul>
    <% @team.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <%end %>
    </ul>
  <%end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.collection_select(:player_ids, @players, :id, :name, {}, { multiple: true }) %><br>
  </p>
  <p>
    <%= link_to 'Add player', new_player_path %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<p><%= link_to 'Back', go_back %> |
<%= link_to 'Home', root_path %> |
<%= link_to 'Teams list', teams_path %></p>
