<h1>Show team</h1>
<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>
<h2>Players</h2>
<p>
  <% @players.each do |p| %>
    <p><%= p.name %></p>
  <% end %>
  </p>
<h2>Matches</h2>
<p>
  <% @team.matches.each do |m| %>
    <p>
      <%= m.team_home.name %> :
      <%= m.team_away.name %> |
      <%= m.score.score_home %> : 
      <%= m.score.score_away %>
    </p>
  <% end %>
</p>
<%= link_to 'Home', root_path %> |
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back to teams index', teams_path %> |
<%= link_to 'Match', new_match_path %></p>
