%h1 New player
- flash.each do |name, msg|
  = content_tag :div, msg, class: name
= form_for :player, url: players_path do |f|
  - if @player.errors.any?
    %ul
      - @player.errors.full_messages.each do |m|
        %li= m
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.submit
%p
  = link_to 'Back', go_back
  |
  = link_to 'Home', root_path
  |
  = link_to 'Players list', players_path
