<h1>Show player</h1>
<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>
<h2>Players' teams</h2>
  <% @teams.each do |t| %>
    <p><%= t.name %></p>
  <% end %>
<p><%= link_to 'Back', go_back %> |
<%= link_to 'Home', root_path %> |
<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Players list', players_path %></p>
