<h1>Edit match</h1>
<%= form_for @match do |f| %>
  <% if @match.errors.any? %>
    <ul>
    <% @match.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <%end %>
    </ul>
  <%end %>
  <p>
    <%= f.label :teams %><br>
    <%= f.collection_select(:team_home_id, @teams, :id, :name) %> vs 
    <%= f.collection_select(:team_away_id, @teams, :id, :name) %>
  </p>
  <p>
  <%= f.fields_for :score_attributes do |f| %>
    <p>
      <%= f.label :score %><br>
      <%= f.select(:score_home, options_for_select(0..10)) %> : 
      <%= f.select(:score_away, options_for_select(0..10)) %>
    </p>
  <% end %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<p><%= link_to 'Back to matches list', matches_path %></p>
