<h1>All matches</h1>
<table>
  <tr>
    <th>Match</th>
  </tr>
 
  <% @matches.each do |m| %>
    <tr>
      <td><%= m.team_home.name %> vs <%= m.team_away.name %></td>
      <td><%= m.score.score_home %> : <%= m.score.score_away %></td>
      <td><%= link_to 'Show', match_path(m) %></td>
      <td><%= link_to 'Edit', edit_match_path(m) %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to 'Back', go_back %> |
<%= link_to 'Home', root_path %> |
<%= link_to 'New match', new_match_path %></p>
