%h1 New match
= form_for :match, url: matches_path do |f|
  - if @match.errors.any?
    %ul
      - @match.errors.full_messages.each do |m|
        %li= m
  %p
    = f.label :teams
    %br
    = f.collection_select(:team_home_id, @teams, :id, :name)
    vs
    = f.collection_select(:team_away_id, @teams, :id, :name)

  %p= link_to 'Add team', new_team_path
  %p
    = f.fields_for :score_attributes do |f|
      %p
        = f.label :score
        %br
        = f.select(:score_home, options_for_select(0..10))
        \:
        = f.select(:score_away, options_for_select(0..10))

  %p
    = f.submit

%p
  = link_to 'Back', go_back
  |
  = link_to 'Home', root_path
  |
  = link_to 'Matches list', matches_path
