<h1>Show match</h1>
<p>
  <strong>Team:</strong>
  <%= @match.team_home.name %> vs <%= @match.team_away.name %>
</p>
<p>
  <strong>Score:</strong>
  <%= @match.score.score_home %> : <%= @match.score.score_away %>
</p>
<p><%= link_to 'Home', root_path %> |
<%= link_to 'Ranking', ranking_index_path %> |
<%#= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back to matches list', matches_path %> |
<%= link_to 'Add match', new_match_path %></p>
