<h1>Show match</h1>
<p>
  <strong>Team:</strong>
  <%= @match.team_home.name %> vs <%= @match.team_away.name %>
</p>
<p>
  <strong>Score:</strong>
  <%= @match.score.score_home %> : <%= @match.score.score_away %>
</p>
<p><%= link_to 'Home', root_path %> |
<%= link_to 'Matches list', matches_path %></p>
